APP_NAME=NURAI Dashboard API
SECRET_KEY=change-this-in-production
DATABASE_URL=postgresql+asyncpg://nurai:nurai_secret@postgres:5432/nurai
REDIS_URL=redis://redis:6379/0
ADMIN_EMAIL=admin@aiops.com
ADMIN_PASSWORD=admin123
CLOUD_PREDICT_URL=https://predict-6a7b9e67b578285046a4f04c-dproatj77a-og.a.run.app
CLOUD_PREDICT_API_KEY=ul_ee95205eef2428d95e72b5c42acd29dbc84f37a6
